* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: #F2EDDC;
}

.conteiner_pageAddTask {
  width: 650px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.page_addTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label {
  font-family: "Montserrat", sans-serif;
  color: #3b4834;
  font-weight: 500;
  font-size: 40px;
}

.input {
  width: 400px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  color: #3b4834;
  font-size: 20px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-left: 5px;
}

.buttonAddLink {
  font-family: "Montserrat", sans-serif;
  background-color: #593A28;
  color: aliceblue;
  width: 200px;
  height: 30px;
  margin-left: 100px;
  border-radius: 30px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
}
.buttonAddLink:hover {
  background-color: #161811;
}

.conteiner_taskList {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
  width: 950px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding: 10px;
}

.illuminationMarkDone {
  background-color: #4ac52e;
  color: aliceblue;
  border-radius: 20px;
}

.illuminationRemove {
  background-color: #c52e2e;
  color: aliceblue;
  border-radius: 20px;
}

.taskList_item {
  margin-top: 20px;
  width: 470px;
  padding: 5px;
  border-radius: 10px;
  word-wrap: break-word;
  position: relative;
  text-align: inherit;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
}

.markDoneButton {
  position: absolute;
  top: 0;
  right: -410px;
  background-color: #593A28;
  -webkit-box-shadow: rgb(255, 255, 255) -0.2px 0px;
          box-shadow: rgb(255, 255, 255) -0.2px 0px;
  color: aliceblue;
  width: 200px;
  height: 30px;
  margin-left: 40px;
  border-radius: 30px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
}
.markDoneButton:hover {
  background-color: #4ac52e;
}

.buttonRemoveTask {
  position: absolute;
  top: 0;
  right: -268px;
  background-color: #593A28;
  color: aliceblue;
  width: 200px;
  height: 30px;
  margin-left: 40px;
  border-radius: 30px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
}
.buttonRemoveTask:hover {
  background-color: #c52e2e;
}

.taskList {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #3b4834;
  font-size: 20px;
}